@import '~normalize.css';
@import '~antd/dist/antd.min.css';

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 1180px;
	width: 100%;
}

.l-app-container {
	height: 100%;
}

.l-app {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.b-page {
	flex: 1 0 auto;
}

